---
layout: default
title: Home
---
    
<p>This are some of my finds. I found my Facebook and Livejournal accounts unsuitable in long run for publishing my finds, which are mostly technology-related. Some of the articles might be unrelated to technology, at least not directly, but that how things happen — <a href="http://en.wikipedia.org/wiki/Don't_Let_Me_Be_Misunderstood">I am just a human</a>.</p>

<ul class="post-list">
    {% for post in site.posts %}
    <li>
        <span class="post__time">{{ post.date | date: "%d %B, %Y" }}</span>
        <h2 class="post__title"><a href="{{ site.root }}{{ post.url }}">{{ post.title }}</a></h2>
        {% if post.meta %}
            <p class="post__meta">{{ post.meta }}</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
